# Build output
output/
*.app/
*.build/
*.dist/
*.dmg
*.exe
*.zip

# mpv libraries
#libs/
libmpv-2.dll

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
env/
venv/
.venv/
.claude/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Certificates
*.pfx
*.p12
