# Build output
output/
*.app/
*.build/
*.dist/
*.dmg
*.pkg
*.exe
*.zip
*.deb
*.tar.gz
dist*

# mpv libraries
libs/
libmpv-2.dll

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
env/
venv/
.venv/
.claude/

# OS files
.DS_Store
._*
Thumbs.db
desktop.ini

# Certificates
*.pfx
*.p12
